body{
    margin: 0px;
    background-color: rgb(245, 229, 232);
}
.title-discreption{
    text-align: center;
    background-color: rgb(232, 245, 207);
    background-image: url(images/top-banner-removebg-preview.png), url(images/top-banner-removebg-preview-right.png);
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
}
#title-discreption-gap{
    margin-bottom: 50px;
    font-size: 50px;
    color: rgba(255, 0, 0, 0.562);
}
.book-discreption{
    display: flex;
    background-color: rgb(211, 233, 241);
}
.one-third{
    width: 30%;
}
#motivation-book-image{
    padding-left: 8%;
}
#paragraph-part{
    margin-left: -5%;
}
#paragraph-part p{
    font-family: 'Titillium Web', sans-serif;
}
#second-book-image{
    padding-left: 5%;
    margin-top: -4%;
}
#elite-plus-export-import-image{
    margin-left: -20%;
    margin-top: -10%;
}
.book-morality{
    padding: 10px 15%;
    margin-top: -110px;
    background-color: rgb(238, 235, 230);
    height: 150px;
}
.read-more-text{
    display: none;
}
.read-more-btn{
    padding: 5px 30px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
}
.about-siful-bappy{
    display: flex;
    margin-top: 3%;
}
.about-bappy-both-txt-and-imag{
    width: 50%;
    padding-left: 3%;
    background-color: rgb(211, 223, 228);
}
.about-siful-bappy img{
    height: 80%;
    width: 80%;
    padding-left: 10%;
    padding-top: 10%;
}
.forth-section{
    background-image: linear-gradient(rgb(163, 163, 190), rgb(88, 235, 235));
    padding: 100px;
    text-align: center;
    margin-top: 50px;
}
.buy-the-book{
    padding: 10px 50px;
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
}
.fifth-section{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    background-color: rgb(215, 218, 209);
    padding: 3%;
}
.fifth-section h2{
    color: rgba(255, 0, 0, 0.562);
}
.fifth-section form input{
    height: 25px;
    width: 200px;
}
button{
    height: 30px;
    width: 100px;
    margin-top: -3px;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.fifth-section form button{
    background-color: rgba(255, 0, 0, 0.562);
}
.small{
    margin-bottom: 40px;
}
.facebook-logo{
    height: 20px;
    width: auto;
}
.a-line-of-color{
    border-color: white;
    height: 5px;
    width: 500px;
}